<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark">
    <meta name="theme-color" content="#121212">
    <meta name="description" content="Portfolio page for developer and programmer Stephen Ada">
    <meta property="og:title" content="Stephen Ada | Developer Portfolio">
    <meta property="og:description" content="Showcasing my coding and programming projects.">
    <meta property="og:type" content="website">
    <title>500 | Internal Server Error</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>500</h1>
    <p>Sorry, something went wrong on our end.</p>
    <p><a href="/">Return to Home</a></p>
    <footer>
        <p>&copy; {{ current_year }} Stephen Ada All Rights Reserved</p>
    </footer>
</body>
</html>