<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark">
    <meta name="theme-color" content="#121212">
    <meta name="description" content="Portfolio page for developer and programmer Stephen Ada">
    <meta property="og:title" content="Stephen Ada | Developer Portfolio">
    <meta property="og:description" content="Showcasing my coding and programming projects.">
    <meta property="og:type" content="website">
    <title>Stephen Ada | Portfolio | About</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
    <h1>About</h1>
    </header>
    <section aria-labelledby="about-heading" class="about-container">
    <p>
        I'm 19 years old, and I became an aspiring IT specialist and developer just this year, around early February.
        It's been a short amount of time, but I've improved a lot since then.
        I'm currently taking the <strong>Google IT Support Professional Certificate Specialization</strong> provided by Coursera, and once I complete it and get
        my certification, proof will be shown here. I'm most knowledgeable in Python, and I'm currently learning Go for professional use. I'm considering
        TypeScript for the same reason, but I'm iffy on whether I actually want to learn TS or not. Besides those, I also know basic C and the absolute barebones
        minimum of C++.
    </p>
    <header aria-labelledby="hobby-heading">
    <h2>Hobbies</h2>
    </header>
    <ul>
        <li>Making music</li>
        <li>Playing guitar</li>
        <li>Watching mafia-themed movies/shows + anime</li>
        <li>Reading philosophy books and manga</li>
        <li>Gaming (PS4, Switch, PC, Phone)</li>
        <li>Collecting cologne</li>
    </ul>
    <nav class="link-container">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('projects') }}">Projects</a>
    </nav>
</section>
    <footer>
        <p>&copy; {{ current_year }} Stephen Ada All Rights Reserved</p>
    </footer>
    <script src="static/script.js" defer></script>
</body>
</html>