<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark">
    <meta name="theme-color" content="#121212">
    <meta name="description" content="Portfolio page for developer and programmer Stephen Ada">
    <meta property="og:title" content="Stephen Ada | Developer Portfolio">
    <meta property="og:description" content="Showcasing my coding and programming projects.">
    <meta property="og:type" content="website">
    <title>Stephen Ada | Portfolio</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
    <h1>Welcome!</h1>
    </header>
    <main>
    <p>Hi, my name is Stephen and welcome to my portfolio!</p>
    <nav class="link-container">
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('projects') }}">Projects</a>
        <a rel="noopener noreferrer" href="https://github.com/stephenjamesada" aria-label="GitHub">
            <i class="fab fa-github" aria-hidden="true"></i></a>
        <a rel="noopener noreferrer" href="https://gitlab.com/stephenjamesada" aria-label="GitLab">
            <i class="fab fa-gitlab" aria-hidden="true"></i></a>
        <a rel="noopener noreferrer" href="https://x.com/stephenjamesada" aria-label="X (Twitter)">
            <i class="fab fa-x-twitter" aria-hidden="true"></i></a>
        <a rel="noopener noreferrer" href="https://linkedin.com/in/stephen-ada-345a06370" aria-label="LinkedIn">
            <i class="fab fa-linkedin" aria-hidden="true"></i></a>
        <a href="{{ url_for('subscribe') }}">Subscribe</a>
    </nav>
    <footer>
        <p>&copy; {{ current_year }} Stephen Ada All Rights Reserved</p>
    </footer>
    </main>
    <script src="static/script.js" defer></script>
</body>
</html>