{% extends "base.html" %}

{% block title %}Stephen Ada | Portfolio | Projects{% endblock %}

{% block content %}
<header>
<h1>Project Page</h1>
</header>
<p>This is my project page. Project pages will usually just be repository links so it's easier to view on GitHub than taking up page space,
    and so I can keep things minimal.</p>
<div class="project-container">
    <a href="https://github.com/stephenjamesada/portfolio-website" rel="noopener noreferrer">This Site's Repository</a>
</div>
<hr>
<nav class="link-container" id="proj-page-links">
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('projects') }}">Projects</a>
        <a href="{{ url_for('index') }}">Home</a>
</nav>
{% endblock %}